:root {
    /* Kind-of variables
    Allow us to simply change the whole color-schema */
    --main-text-color: black;
    --main-background-color: white;
    --hover-color: #555;
    --hover-text-color: white;
    --border-all: 1px solid black;
    --footer-background-color: gray;
	--footer-text-color: black;
    --header-background-color: white;
    --header-text-color: black;
    --menu-text-color: black;
    --menu-background-color: beige;
	--menu-width: 200%;
    --font: Calibri, cursive;
    --button-color: beige;
	--button-text-color: #000000;
	--div-color: #e6e6e6;
}