:root {
    /* Kind-of variables
    Allow us to simply change the whole color-schema */
    --main-text-color: white;
    --main-background-color: #1d85ed;
    --hover-color: lightblue;
    --hover-text-color: white;
    --border-all: 1px solid black;
    --footer-background-color: #156bc2;
	--footer-text-color: white;
    --header-background-color: #004378;
    --header-text-color: white;
    --menu-text-color: white;
    --menu-background-color: #156bc2;
	--menu-width: 200px;
    --font: Calibri, cursive;
    --button-color: #156bc2;
	--button-text-color: #FFFFFF;
	--div-color: #4a99e8;
}