:root {
    /* Kind-of variables
    Allow us to simply change the whole color-schema */
    --main-text-color: black;
    --main-background-color: white;
    --hover-color: #009999;
    --hover-text-color: white;
    --border-all: 1px solid black;
    --footer-background-color: black;
	--footer-text-color: white;
    --header-background-color: #404040;
    --header-text-color: white;
    --menu-text-color: white;
    --menu-background-color: gray;
	--menu-width: 200px;
    --font: Calibri, cursive;
    --button-color: #b9b9b9;
	--button-text-color: #000000;
	--div-color: #d6d6d6;
}