:root {
    /* Kind-of variables
    Allow us to simply change the whole color-schema */
    --main-text-color: #555;
    --main-background-color: #fff;
    --hover-color: #aaaaaa;
    --hover-text-color: #efefef;
    --border-all: 1px solid #dedede;
    --footer-background-color: #dedede;
    --footer-text-color: #555;
    --header-background-color: #fafafa;
    --header-text-color: #333;
    --menu-text-color: #333;
    --menu-background-color: #efefef;
    --menu-width: 200px;
    --font: Calibri, cursive;
    --button-color: #d5d5d5;
    --button-text-color: #555555;
    --div-color: #fff;
}